@import url(reset.css);

/* General styles */
* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: #fff;
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
}

/* End General styles */

/* User-Filters Section */
header>div:first-child {
    display: flex;
    background-color: rgba(238, 238, 238, 0.719);
    flex-wrap: wrap;
    width: calc(40% - 2em);
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px grey;
}

header>div:first-child figure {
    width: calc(29% - 3px);
    /*     border-right: 1px solid #ddd; */
    margin-right: 3px;
    padding: 1em;
}

header>div:first-child hr {
    width: 1px;
    height: 100%;
    color: black;
}

header>div:first-child img {
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1em;
    border: 1px solid black;
}

header>div:first-child figure h4 {
    text-align: center;
    font-weight: bold;
}


header>div:first-child div:last-child {
    width: calc(70% - 0.5em);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5em;
}

header>div:first-child div:last-child div:first-child {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header>div:first-child div:last-child div:first-child label:first-child {
    width: 100%;
    font-weight: 700;
}

header>div:first-child div:last-child div:first-child button {
    width: calc(33.333% - 1em);
    font-weight: 700;
    margin: 0.5em;
}

.btn-outline-warning {
    color: darkorange;
    border-color: darkorange;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 10px;
}

header>div:first-child div:last-child div:first-child button {
    border-radius: 10px;
}

.btn-outline-warning:hover {
    color: white
}




header>div:first-child div:last-child form {
    width: 100%;
    justify-content: center;
    align-items: left;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

header>div:first-child div:last-child form label {
    font-weight: 700;
}





/* End User-Filters Section */


/* Task Stats */

header>div:last-child {
    display: flex;
    background-color: rgba(238, 238, 238, 0.719);
    flex-wrap: wrap;
    width: calc(60% - 2em);
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px grey;
}

header>div:last-child>div {
    width: calc(50% - 1em);
    margin: 0.5em
}

header>div:last-child>div div,
header>div:last-child>div p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

header>div:last-child>div p {
    font-size: 4rem;
}

/* End Task Stats */
/* End Header */

/* Main */

main {
    display: flex;
    flex-wrap: wrap;
}

/* Form */
main form {
    background-color: rgba(238, 238, 238, 0.719);
    width: calc(30% - 2em);
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px grey;
}

main form h4 {
    font-weight: bold;
    text-align: center;
    font-size: 1.8em;
}

main form hr {
    width: 80%;
    margin: 0 auto
}

main form label {
    font-weight: bold;
}

main form div:nth-child(6) div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

main form div:nth-child(6) div label {
    width: 100%;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group> :not(.btn-check)+.btn {
    border-radius: 10px;
}

main form div:nth-child(6) div button {
    width: calc(33.333 - 1em);
    margin: 0.5em;
}

.btn-primary.btn-lg {
    margin: 10px;
    width: calc(100% - 20px);
}

/* End Form */


/* SectionTask */

main section {
    background-color: rgba(238, 238, 238, 0.719);
    width: calc(70% - 2em);
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px grey;
    display: flex;
    flex-wrap: wrap;
}

.labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0em 1em;
    margin: 1em;
    border-radius: 12px;
    max-height: 5%;
    background-color: white;
    font-weight: 700;
    box-shadow: 1px 1px 7px grey;
}

.labels p {
    width: 20%;
}

.labels p:last-child {
    visibility: hidden;
}

.taskArea {
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    padding-top: 0em;
    min-height: 80%;
}

.task {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 7px gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0.8em 0em;
    min-height: 2.5em;
}

.task>p:nth-child(4) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task p {
    width: 20%;
}

.task i {
    font-size: 1.25em;
    color: red;
}

.task i:hover {
    cursor: pointer;
}



/* End SectionTask */
/* End Main */