@import url(reset.css);

/* General styles */
* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: #fff;
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
}

/* End General styles */

/* User-Filters Section */
header>div:first-child {
    display: flex;
    background-color: rgba(238, 238, 238, 0.719);
    flex-wrap: wrap;
    width: calc(40% - 2em);
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px grey;
}

header>div:first-child figure {
    width: calc(29% - 3px);
    /*     border-right: 1px solid #ddd; */
    margin-right: 3px;
    padding: 1em;
}

header>div:first-child hr {
    width: 1px;
    height: 100%;
    color: black;
}

header>div:first-child img {
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1em;
    border: 1px solid black;
}

header>div:first-child figure h4 {
    text-align: center;
    font-weight: bold;
}


header>div:first-child div:last-child {
    width: calc(70% - 0.5em);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5em;
}

header>div:first-child div:last-child div:first-child {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn-outline-warning {
    color: rgb(255, 166, 0);
    border: 1px solid orange;
}

.btn-outline-warning:hover {
    color: white
}

header>div:first-child div:last-child form {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

/* End User-Filters Section */


/* Task Stats */

header>div:last-child {
    display: flex;
    background-color: rgba(238, 238, 238, 0.719);
    flex-wrap: wrap;
    width: calc(60% - 2em);
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px grey;
}

header>div:last-child>div {
    width: calc(50% - 1em);
    margin: 0.5em
}

header>div:last-child>div div,
header>div:last-child>div p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

header>div:last-child>div p {
    font-size: 4rem;
}

/* End Task Stats */
/* End Header */

/* Main */

main {
    display: flex;
    flex-wrap: wrap;
}

/* Form */
main form {
    background-color: rgba(238, 238, 238, 0.719);
    width: calc(30% - 2em);
    height: 100%;
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px grey;

}

main form h4 {
    font-weight: bold;
    text-align: center;
    font-size: 1.8em;
}

main form hr {
    width: 80%;
    margin: 0 auto
}

main form label {
    font-weight: bold;
}

.btnrad1 {
    border: 1px solid #198754;
    color: #198754;
}

.btnrad2 {
    border: 1px solid orange;
    color: orange;
}

.btnrad3 {
    border: 1px solid #dc3545;
    color: #dc3545;
}

.btn-outline-primary:hover.btnrad1 {
    background-color: #198754;
    border-color: #198754;
}

.btn-outline-primary:hover.btnrad2 {
    background-color: orange;
    border-color: orange;
}

.btn-outline-primary:hover.btnrad3 {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-check:checked+.btnrad1 {
    background-color: #198754;
    color: white;
    border-color: #198754;
}

.btn-check:checked+.btnrad2 {
    background-color: orange;
    color: white;
    border-color: orange;
}

.btn-check:checked+.btnrad3 {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
    ;
}

.btn-primary.btn-lg {
    margin: 10px;
    width: calc(100% - 20px);
}

/* End Form */

/* End Main */